* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    background-image: url("./back.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .links {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
  }
  
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome {
    font-size: 2em;
    font-weight: bold;
  }